Repository Automattic/studio, pull requests merged in 2024-08, with the labels that each got.

#399 Run wp db export command when exporting site database
  src/components/tests/content-tab-import-export.test.tsx
  src/hooks/tests/use-import-export.tsx
  src/hooks/use-import-export.tsx
  src/lib/import-export/export/export-database.ts
  src/lib/import-export/export/exporters/default-exporter.ts
  src/lib/import-export/export/exporters/sql-exporter.ts
  src/lib/import-export/export/types.ts
  src/lib/import-export/tests/export/exporters/default-exporter.test.ts
  src/lib/import-export/tests/export/exporters/sql-exporter.test.ts
Labels: Studio Import & Export

#408 Upgrade braces sub dependency used on fork-ts-checker-webpack-plugin and tailwindcss
  package-lock.json
Labels: Dependencies

#417 Open find with SQL file selected on export database
  src/components/content-tab-import-export.tsx
Labels: Studio Import & Export

#419 Studio: Remove unnecessary media query from add site modal
  src/components/add-site.tsx
Labels: Studio Import & Export

#435 Studio: Disable import when export is in progress
  src/components/content-tab-import-export.tsx
Labels: Studio Import & Export

#440 Studio: Fix import/export database on linux
  src/lib/app-globals.ts
  src/lib/import-export/export/export-database.ts
  src/lib/import-export/import/importers/importer.ts
  src/lib/import-export/tests/export/exporters/sql-exporter.test.ts
  src/lib/import-export/tests/import/importer/default-importer.test.ts
Labels: Studio Import & Export

#452 Studio: Add initial support for Ukrainian translations
  docs/localization.md
  src/lib/locale.ts
  src/translations/studio-uk.jed.json
Labels: [Type] Feature Request, Studio App

#442 Studio: fix site not found error when add a site
  src/hooks/use-chat-context.tsx
Labels: Studio Import & Export

#437 Studio: Fix site url after import
  src/lib/import-export/import/importers/importer.ts
Labels: Studio Import & Export

#455 Studio: Allow import of wp-config.php
  src/lib/import-export/import/importers/importer.ts
  src/lib/import-export/import/types.ts
  src/lib/import-export/import/validators/jetpack-validator.ts
  src/lib/import-export/import/validators/local-validator.ts
  src/lib/import-export/import/validators/sql-validator.ts
  src/lib/import-export/tests/import/importer/default-importer.test.ts
  src/lib/import-export/tests/import/importer/local-importer.test.ts
  src/lib/import-export/tests/import/validators/jetpack-validator.test.ts
  src/lib/import-export/tests/import/validators/local-validator.test.ts
  src/lib/import-export/tests/import/validators/sql-validator.test.ts
Labels: [Status] Needs Review, Studio Import & Export

#469 Export site to .zip archive by default
  src/hooks/use-import-export.tsx
Labels: [Type] Enhancement, Studio Import & Export

#485 Ensure we exit the php process after running the WP cli command
  vendor/wp-now/src/execute-wp-cli.ts
Labels: [Type] Bug, [Status] Needs Review, Studio Import & Export

#483 Studio: Translate Studio Assistant Welcome messages
  src/hooks/use-welcome-messages.tsx
Labels: Studio App, Studio AI Assistant

#492 Studio: Handle Add Site top bar menu item in onboarding screen
  src/components/onboarding.tsx
Labels: Studio Compatibility Boost

#491 Studio: Update php-wasm ( playground dependecies)
  jest.config.ts
  package-lock.json
  package.json
  patches/@php-wasm+node+0.6.16.patch
  vendor/wp-now/src/execute-php.ts
  vendor/wp-now/src/execute-wp-cli.ts
  vendor/wp-now/src/start-server.ts
  vendor/wp-now/src/tests/wp-now.spec.ts
  vendor/wp-now/src/wp-now.ts
  webpack.main.config.ts
  webpack.rules.ts
Labels: [Type] Enhancement, [Pri] BLOCKER, [Status] Needs Review, Studio Compatibility Boost
